body {
    background: linear-gradient(to bottom, rgb(173, 216, 230) , rgba(173, 216, 230, 0.4));
    text-transform: capitalize;
    text-align: center;
    font-size: 1.15em;
    font-family: "Arial", sans-serif;
}


/* font-weight 400 is the "normal" weight 

serif fonts have these kind-of underline in some letters.
serif is usually used for academic papers, printed texts, etc..
But serif is hard to read on computers or any digital media.
Serif examples: Times New Roman (most famous), Georgia

So we use sans serif, which doesn't have those underline
for digital texts.
Plus, MOST websites like google and facebook use sans serif.
So we'll be using sans serif here.
Sans serif examples are: Arial, Calibri (Pretty common in gdocs)

Monospace are when every letter will take the same space.
Monospace examples: Courier new
*/

.wrap1, .wrap2, .wrap3 {
    height: 100px;
    width: 50%;
}

.wrap1 {
    background: linear-gradient(to top right, red, green, steelblue, blue)
}

.wrap2 {
    background: linear-gradient(215deg, rgb(70, 130, 180), rgba(70, 130, 180, 0.1));
}

.wrap3 {
    background: radial-gradient(circle, red 10%, blue 40%,rgba(70, 130, 180, 0.1) 55%);
}

h2:hover {
    color: white;
}

li:first-child {
    color: steelblue;
}

li:nth-child(2) {
    color:tomato;
}

li:only-child {
    color: purple;
}

/* + is for something that's directly after.
~ is for something that's after, wherever it is. 
And both only works if they have the same parent.*/
h2 + p {
    color: green;
}

p ~ button {
    color:coral;
}

/* This means "For every DIRECT CHILD li inside an ul"
This is more specific than general selector. */
ul > li {
    color:darkgoldenrod;
}

/* This means ANY li that's the descendants
of an ul*/
ul li {
    color:darkmagenta;
}

/* Attribute Selector 
^ means starts with this value
$ means ends with this value
* means anywhere as long as it contains this value
| means "or".
~ means exactly equals? I'm not sure
*/
img[src^="/img/"] {
    border: 10px solid black;
}

/* If this h2 selector uses an |= it's supposed to mean
"Find every h2 where the class is directly equals to 
article-subtitle OR article with a dash "-"".
But that didn't work in my case. Nothing changes
and I don't know why. So I'll stick with ~= for now.
*/
h2[class~=article-subtitle] {
    color:blueviolet;
}

.cta, .text {
    color: rgb(200, 148, 30);
    font-weight: 400;
}


#google-link:link {
    color:blue
}

#google-link:visited {
    color: red;
}

.title {
    color:red;
}

#title-description {
    color: blue;
}

